.glass-pill-container {
  position: relative;
  display: flex;
  border-radius: 20px;
  padding: 2px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
}

.glass-pill-highlight {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  transition: transform 0.3s ease;
  z-index: 0;
}

.glass-pill {
  flex: 1;
  background: transparent;
  border: none;
  color: #fff8;
  padding: 4px 8px;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;
  z-index: 1;
  font-size: 12px;
  font-family: inherit;
}

.glass-pill.active {
  color: black;
}
