@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  background: #2d313a;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: 'Kumbh Sans', sans-serif;
  user-select: none;

  --corner: 12px;
  --glass-bg: rgba(255, 255, 255, 0.04);
  --glass-border: 1px solid rgba(255, 255, 255, 0.06);
  --glass-filter: blur(10px);
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
}

a:focus,
input:focus,
button:focus {
  outline: none;
}

.main-container {
  background-color: rgba(0, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  container-type: inline-size;
}

.main-container.night {
  background-color: rgba(0, 0, 0, 0.85);
}

.main-container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.main-container .loading {
  display: grid;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 100%;
}

.main-container:not(.drawer-open) .right {
  grid-template-columns: 1fr 420px;
  display: none;
}

.main-container.drawer-open {
  grid-template-columns: 1fr 420px;
}

.main-container.drawer-open .right {
  display: block;
}

.left {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.left::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.right {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .main-container.drawer-open {
    grid-template-columns: 1fr;
  }

  .main-container.drawer-open .left {
    display: none;
  }
}

.scroll-wrapper {
  max-width: calc(100vw - 8rem);
  min-height: 150px;
  display: flex;
  overflow: auto;
  padding-bottom: 1rem;
  margin: 0 -4px;
  column-gap: 0.5rem;
}

.scroll-wrapper::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grabber {
  height: 50px;
  position: absolute;
  right: 0;
  width: 50px;
  background: url('./assets/icons/search.png') no-repeat center;
  background-size: 20px;
  top: 0;
  border-radius: 4px;
  margin: 30px;
  cursor: pointer;
}

.grabber:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.w-layout {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 1rem;

  .h-data {
    grid-column: 1/-1;
  }
}

@container (max-width:992px) {
  .left {
    padding: 2rem;
  }
  .w-layout {
    grid-template-columns: 1fr;
  }

  .scroll-wrapper {
    max-width: calc(100vw - 3.5rem) !important;
  }
}

.footer {
  padding: 2rem 0;
  color: rgba(255, 255, 255, 0.25);
  font-weight: 300;
  font-size: 13px;
}

.footer a {
  color: inherit;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
  text-transform: capitalize;
  transition: all 0.2s ease-in;
}

.footer a:hover {
  color: rgba(255, 255, 255, 0.8);
  border-bottom-style: solid;
}
